BasedOnStyle: Google

ExperimentalAutoDetectBinPacking: false
BinPackParameters: false
BinPackArguments: false
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortFunctionsOnASingleLine: false
ColumnLimit: 100

IndentWidth: 4
AccessModifierOffset: -4
